<h1>Новый твит</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Твитнуть">
</form>

{% for tweet in tweets%}
    <div>
        <p>{{ tweet.text|linebreaksbr }}</p>
        <p>Опубликовано: {{tweet.data_pub}}</p>
    </div>
{% endfor %}
